@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    
  }
  body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
   
  }
  .navbar{
    display: flex;
    flex-direction: row;
    padding:10px;
    margin-bottom: -10px;
    background-color: #fefffe;
    
    
  }
  .navbar1{
    display: flex;
    flex-direction: row;
    margin-left:300px;
    padding:3px;
    filter: drop-shadow(0 20px 15px rgba(248, 248, 248, 0.6));
    
    
  }
  .navbar1 a {
    color:rgb(18, 18, 18);
    text-decoration: none;
    padding:5px;

  }
  .logo{
    width:30px;
    heigth: 2.25em;
  

  }
 
  #search-bar{
    color:black;
    border:2px solid black;
    border-radius:1px;
    width:500px;
    height: 30px;
    padding-left:8px;
    margin-left:300px;
    margin-right:1px;
    background-color: #fffcfc;
  }
 
  #select-location{
    width:100px;
    height: 35px;
    padding:3px;
    margin:0px 30px 0px  ;    
  }
  .log-in{
    
    border-radius:6px;
    text-align: center;
    padding:3px;
    margin-right:30px;
    margin-bottom: 13px;
    background-color: black;
  
  }
  .log-in a{
    color:white;
    font-size:small;
  }
  svg{
    width: 30px;
    cursor: pointer;
    background-color: #b4b4b4;
    border-radius:4px;
    padding:2px;
    margin-bottom:5px;
   
}
 .cart {
    text-align: right;
    color: #171717;
    position: relative; 
   
  }

  .cart span{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 0, 0, 0.944);
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 50%;
    right: -4px;
    border-radius: 50%;
  }
  
    
  
  header {
    color: #000000;
    padding: 40px;
    text-align: center;
    background-color: #a0a0a0;
    /*filter: drop-shadow(0 20px 15px rgba(46, 45, 45, 0.6));*/
    
  }

main {
    padding:50px 80px 50px 80px;
    width:1000px;
    max-width: 90vw;
    text-align: center;
    
  }
  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
  }
  .fruit, .vegetable{
    background-color: #6e6e6e0a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .fruit,.vegetable h2{
    margin-top: 10px;
  }
  
  .fruit  img {
    width: 300px;
    height: 250px;
    border-radius: 12px;
    filter: drop-shadow(0 20px 15px rgb(165, 165, 165));
  }
  .vegetable img {
    width: 300px;
    height: 250px;
    border-radius:12px;
    filter: drop-shadow(0 20px 15px  rgba(118, 117, 117, 0.6));
  }
   .fruit button{
    background-color: #0000ff;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
  }
  .vegetable button{
    background-color: #0000ff;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
  }
 
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  #cartList {
    list-style:none;
    padding: 30px;
  }
  
  #cartList li {
    margin-bottom: 3px;
  }
  
  .shopping-cart{
    width: 400px;
    background-color: #d6d4d4;
    color: rgb(29, 29, 29);
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    
  }
  .showCart .shopping-cart{
    inset: 0 0 0 auto;
  }

  .shopping-cart h1{
    padding: 20px;
    margin:none;
    font-weight: 300;
  }

  .shopping-cart .cartList{
    margin-top: 15px;
    
  }

  .shopping-cart .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50px;
  }

  .shopping-cart .btn button{
    background-color: #e8bc0e;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
  }

  .shopping-cart .btn .close{
    background-color: rgb(239, 86, 10);
  }
  
 
.custom-button {
    color: white;
    background-image: linear-gradient(#d0b200, #a58d00);
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
    
  }
.custom-button1{
    text-align: center;
    margin-top: -80px;

  }
.healthyfood{
   
    margin: 30px 250px 0 300px ;
    border:solid 1px white ;
    border-radius: 20px;
    padding:30px;
    
  }
.foodvideo{
    display:flex;
    flex-direction: row;
  }
.healthyfood img {
  width: 270px;
}
.heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.description {
  color: #000000;
  font-family: "Roboto";
  font-size: 16px;
}
